@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background: linear-gradient(0deg, #003d52, #007fad, #98e2ff);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: absolute;
    background: snow;
    width: 30%;
    height: 30%;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    position: relative;
    display: flex;
    width: 0%;
    height: 0%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transform: translateY(12%);
}

#card p {
    color: #4D5050;
    width: 80%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.upper_part {
    position: absolute;
    background: linear-gradient(90deg, #003d52, #007fad, #98e2ff);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 99%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 3px;
    transition: all 0.6s;
}

.upper_part .userIcon img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.upper_part span {
    position: relative;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
    transition: all 0.5s;
}

.upper_part span::first-letter {
    color: #00bbff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.lower_part {
    position: absolute;
    background: linear-gradient(90deg, #003d52, #007fad, #98e2ff);
    width: 99%;
    height: 25%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    bottom: 3px;
    transition: all 500ms;
    overflow: hidden;
}

.lower_part ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    height: 100%;
    transform: translateY(100%);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1,275);
}

.lower_part ul li, .lower_part ul li a {
    color: snow;
}

.lower_part ul li a {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* hover */

.lower_part ul li a:hover {
    transform: translateY(-3px);
}

/* responsive */

@media (max-width: 1300px) {
    #container {
        width: 60%;
        height: 40%;
    }

    #card p {
        font-size: 13px;
    }

    .upper_part .userIcon img {
        width: 70px;
        height: 70px;
    }

    .upper_part span {
        font-size: 15px;
    }

    .upper_part span::first-letter {
        font-size: 17px;
    }

    .lower_part ul {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    #container {
        width: 90%;
        height: 40%;
    }

    .upper_part {
        gap: 15px;
    }

    .upper_part .userIcon img {
        width: 60px;
        height: 60px;
    }

    .upper_part span {
        font-size: 13px;
    }

    .upper_part span::first-letter {
        font-size: 15px;
    }

    .lower_part ul {
        font-size: 20px;
    }

    #card p {
        font-size: 12px;
    }
}

@media (orientation: landscape) and (max-width: 950px) {
    #container {
        width: 70%;
        height: 65%;
        border-radius: 60px;
    }

    .upper_part {
        gap: 15px;
    }
    
    .upper_part {
        width: 99%;
        height: 75%;
        border-radius: 60px 60px 0 0;
    }
    
    .lower_part {
        width: 99%;
        height: 25%;
        border-radius: 0 0 60px 60px;
    }
}